.bg-sprites {
    display: inline-block;
    height: 38px;
    width: 56px;
    background-image : url("/../img/units_sprites1.png")!important;
}

.ib {
    display: inline-block;
}
/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-Aiden {
    background-image: url(/../img/global_units.png);
    background-position: -56px 0px;
    width: 56px;
    height: 38px;
}
.icon-Black_Cat_Lid {
    background-image: url(/../img/global_units.png);
    background-position: 0px -114px;
    width: 56px;
    height: 38px;
}
.icon-Cupid_Artemios {
    background-image: url(/../img/global_units.png);
    background-position: 0px -38px;
    width: 56px;
    height: 38px;
}
.icon-Cupid_Luna {
    background-image: url(/../img/global_units.png);
    background-position: -56px -38px;
    width: 56px;
    height: 38px;
}
.icon-Demon_Rain {
    background-image: url(/../img/global_units.png);
    background-position: -112px 0px;
    width: 56px;
    height: 38px;
}
.icon-Dracu_Lasswell {
    background-image: url(/../img/global_units.png);
    background-position: -112px -38px;
    width: 56px;
    height: 38px;
}
.icon-Elza {
    background-image: url(/../img/global_units.png);
    background-position: 0px -76px;
    width: 56px;
    height: 38px;
}
.icon-Fryevia {
    background-image: url(/../img/global_units.png);
    background-position: -56px -76px;
    width: 56px;
    height: 38px;
}
.icon-Ling {
    background-image: url(/../img/global_units.png);
    background-position: -112px -76px;
    width: 56px;
    height: 38px;
}
.icon-Olive {
    background-image: url(/../img/global_units.png);
    background-position: 0px 0px;
    width: 56px;
    height: 38px;
}
.icon-Reberta {
    background-image: url(/../img/global_units.png);
    background-position: -56px -114px;
    width: 56px;
    height: 38px;
}
.icon-Santa_Roselia {
    background-image: url(/../img/global_units.png);
    background-position: -112px -114px;
    width: 56px;
    height: 38px;
}
.icon-White_Knight_Noel {
    background-image: url(/../img/global_units.png);
    background-position: -168px 0px;
    width: 56px;
    height: 38px;
}
.icon-White_Witch_Fina {
    background-image: url(/../img/global_units.png);
    background-position: -168px -38px;
    width: 56px;
    height: 38px;
}
.icon-Xon {
    background-image: url(/../img/global_units.png);
    background-position: -168px -76px;
    width: 56px;
    height: 38px;
}
.icon-Yun {
    background-image: url(/../img/global_units.png);
    background-position: -168px -114px;
    width: 56px;
    height: 38px;
}
.icon-Zargabaath {
    background-image: url(/../img/global_units.png);
    background-position: 0px -152px;
    width: 56px;
    height: 38px;
}
.icon-Zyrus {
    background-image: url(/../img/global_units.png);
    background-position: -56px -152px;
    width: 56px;
    height: 38px;
}

.img-flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }