/*
 * Font Sizes
 */
/* line 66, /var/www/Delgado/happyou/resources/vendor/styles/smartadmin/_main-special-class.scss */
.font-xs {
  font-size: 85% !important; }

/* line 67, /var/www/Delgado/happyou/resources/vendor/styles/smartadmin/_main-special-class.scss */
.font-sm {
  font-size: 95% !important; }

/* line 68, /var/www/Delgado/happyou/resources/vendor/styles/smartadmin/_main-special-class.scss */
.font-md {
  font-size: 120% !important; }

/* line 69, /var/www/Delgado/happyou/resources/vendor/styles/smartadmin/_main-special-class.scss */
.font-lg {
  font-size: 160% !important; }

/* line 70, /var/www/Delgado/happyou/resources/vendor/styles/smartadmin/_main-special-class.scss */
.font-xl {
  font-size: 200% !important; }

/* line 71, /var/www/Delgado/happyou/resources/vendor/styles/smartadmin/_main-special-class.scss */
.font-400 {
  font-size: 400% !important; }