@media (max-width: 768px) {
  .navbar-top-links .tgl-menu-btn {
    top: -40px;
  }
  header {
    .header_search {
      width: 100%;
    }
    .result_search {
      top: 80px;
    }
  }
  .mainnav-in{
    header{
      .result_search {
        left:220px;
      }
    }
  }
}